<h1 class="top" style="margin-top: 20px;">Registered Employees</h1>
<div class="top">
  <input type="text" id="searchText" title="search" placeholder="search Employee From Here..!">
  <button type="button" mat-button id="goSearch" class="btn btn-primary" onkeyup="getSearchedEmployees()">Submit</button>
  <label id="showError"></label>
</div>
<div class="d-flex justify-content-center">
<div class="spinner-border" role="status" id="load" >
	<span class="sr-only" id="loading">Loading...</span>
</div>
</div>
<div class="employeeCards" id="employeeCard"></div>			

<router-outlet></router-outlet>
